model/
.DS_Store
.idea/
LeafNATS/.DS_Store
LeafNATS/tools/.DS_Store
LeafNATS/tools/bytecup_process/.DS_Store
src_data/
LeafNATS/tools/bytecup_process/__pycache__/
LeafNATS/tools/newsroom_process/extract_data/
LeafNATS/tools/newsroom_process/plain_data/

test/something_out.json
test/1_out.json
test/2_out.json
test/3_out.json
test/4_out.json
test/5_out.json
test/5_out-cpu-clone.json
test/5_out-cpu-no-clone.json
test/5_out-gpu-clone.json
test/5_out-gpu-no-clone.json

LeafNATS/__pycache__/
LeafNATS/eval_scripts/__pycache__/
LeafNATS/data/__pycache__/
LeafNATS/data/classification/__pycache__/
LeafNATS/data/dmsc/__pycache__/
LeafNATS/data/nli/__pycache__/
LeafNATS/data/seq2sql/__pycache__/
LeafNATS/data/summarization/__pycache__/
LeafNATS/engines/__pycache__/
LeafNATS/modules/attention/__pycache__/
LeafNATS/modules/decoder/__pycache__/
LeafNATS/modules/decoding/__pycache__/
LeafNATS/modules/embedding/__pycache__/
LeafNATS/modules/encoder/__pycache__/
LeafNATS/modules/encoder2decoder/__pycache__/
LeafNATS/utils/__pycache__/
nats/__pycache__/
nats/headline2_summary2_app/__pycache__/
nats/pointer_generator_network/__pycache__/

